!gizmoduck/config
!gizmoduck/src/main/scala/com/twitter/gizmoduck/config
!gluebird/config
!gluebird/src/main/scala/com/twitter/gluebird/flock/config
#*
*#
**/project/boot/
**/project/plugins/project/
**/project/plugins/src_managed/
*.iml
*.ipr
*.iws
*.log
*.pex
*.pyc
*.tmproj
*~
.#*
.*.sw[a-z]
.*~
.DS_Store
.bundle
.cache
.classpath
.classpath.txt
.ensime
.ensime.msg.counter
.idea/
.idea/*
.ivy2
.ivyjars
.native/
.native/*
.pants.d/
/.pids/
/.pants.run
.project
.reviewboardrc
.run_classpath
.scala
.scala/*
.settings**
.worksheet**
/.py/
/bin/allocation.jar
/bin/sbt-launch-0.7.5.jar
GPATH
GRTAGS
GSYMS
GTAGS
Gemfile.lock
TAGS
deploy_profile
dist/
ensime_port
git.properties
iago/scripts**
lib_managed/
macaw/macaw
macaw/run
project/boot/
project/plugins/project/
project/plugins/src_managed/
rufous/server/deploy-cache/
sbt-launch-0.7.4.jar
sbt-launch.jar
syndication/http-server/src/main/resources/components/syndication-templates/lib/css
syndication/http-server/src/main/resources/components/syndication-templates/lib/images
target/
.reviewboardrc
deploy_profile
rufous/server/deploy-cache/
spoonbill/server/deploy-cache/
*.sublime-workspace
*.sublime-project
