# These are things that apply to birdcage that don't apply to science, etc.
!/gizmoduck/config
!/gizmoduck/src/main/scala/com/twitter/gizmoduck/config
/.py/
/bin/allocation.jar
/bin/sbt-launch-0.7.5.jar
/gosearch/src/main/resources/public/bower_components
/iago/scripts
/kestrel/lib
/syndication/http-server/src/main/resources/components/syndication-templates/lib
/syndication/http-server/src/main/resources/components/syndication-templates/lib/css

.bundle
lib_managed
macaw/macaw
macaw/run

# There are examples of these things in both science and birdcage that are
# tracked in git. However, these lines were present in the .gitignore for
# birdcage but not for science.
*.log
Gemfile.lock
images