!gizmoduck/config
!gizmoduck/src/main/scala/com/twitter/gizmoduck/config
!gluebird/config
!gluebird/src/main/scala/com/twitter/gluebird/flock/config
#*
*#
**/project/boot/
**/project/plugins/project/
**/project/plugins/src_managed/
*.iml
*.ipr
*.iws
*.log
*.pyc
*.tmproj
*~
.#*
.*.sw[a-z]
.*~
.DS_Store
.bundle
.cache
.classpath
.classpath.txt
.ensime
.ensime.msg.counter
.idea/
.idea/*
.ivy2
.ivyjars
.native/
.native/*
.project
.reviewboardrc
.reviewboardrc
.run_classpath
.scala
.scala/*
.settings**
.worksheet**
/.py/
/bin/allocation.jar
/bin/sbt-launch-0.7.5.jar
GPATH
GRTAGS
GSYMS
GTAGS
Gemfile.lock
TAGS
dist/
ensime_port
git.properties
iago/scripts**
iago/scripts**
lib_managed/
macaw/macaw
macaw/run
project/boot/
project/plugins/project/
project/plugins/src_managed/
sbt-launch.jar
sbt-launch-0.7.4.jar
target/
.reviewboardrc
